<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Hydra CLI</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles/style.css">
    <link rel="stylesheet" href="../static/styles/utils.css">
</head>

<body>
    <!-- * bg video -->
    <video autoplay muted loop id="bg-video">
        <source src="../static/images/bg.mp4" type="video/mp4">
    </video>

    <nav id="navbar">
        <ul>
            <li> <a href="#"> Home </a> </li>
            <li> <a href="#"> Features </a> </li>
            <li> <a href="#"> Docs </a> </li>
            <li> <a href="#"> About Us </a> </li>
        </ul>
    </nav>

    <div class="container">
        <h1 id="heading"> hydra </h1>
        <p>A command line utility</p>

        <div class="buttons">
            <button class="btn transition"> Features </button>
            <button class="btn transition"> Docs </button>

        </div>
    </div>

    <script src="../static/scripts/script.js"></script>
</body>

</html>