<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Hydra CLI</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles/style.css">
    <link rel="stylesheet" href="../static/styles/utils.css">
</head>

<body>
    <!-- * bg video -->
    <video autoplay muted loop id="bg-video">
        <source src="../static/images/bg.mp4" type="video/mp4">
    </video>

    <nav id="navbar">
        <ul>
            <li> <a href="#home-container" class="transition"> Home </a> </li>
            <li> <a href="#features-container" class="transition"> Features </a> </li>
            <li> <a href="#" class="transition"> Docs </a> </li>
            <li> <a href="#about-container" class="transition"> About Us </a> </li>
            <li> <a href="https://github.com/shravanasati/hydra" target="_blank" class="transition"> GitHub </a> </li>
        </ul>
    </nav>

    <main>
        <!-- * home page -->
        <div id="home-container">
            <h1 id="heading"> hydra </h1>
            <p>A command line utility to generate language specific projet structures.</p>
    
            <div class="buttons">
                <button class="btn transition"> Features </button>
                <button class="btn transition"> Docs </button>
    
            </div>
        </div>


        <!-- * features page -->
        <div class="features-container">
            <h1> Features </h1>
            <p>Why should you use hydra?</p>
        </div>
    </main>

    <script src="../static/scripts/script.js"></script>
</body>

</html>